/*------杂项------*/
::-webkit-scrollbar { /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #212639;
  background: #535353;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #EDEDED;
}

.debug {
  border: 1px solid red;
}

.text-color-success {
  color: #52c41a;
}

.text-color-error {
  color: #f5222d;
}

.hide {
  display: none !important;
}

.font-weight {
  font-weight: bolder;
}

.opacity0 {
  opacity: 0 !important;
}

.hide-by-shrink {
  width: 0 !important;
  height: 0 !important;
}

.show-flex {
  display: flex !important;
}

.show-block {
  display: block !important;
}

/*.ant-tree li span[draggable], .ant-tree li span[draggable="true"] {*/
/*line-height: 26px !important;*/
/*}*/

/*.ant-tree li {*/
/*padding: 0px !important;*/
/*}*/

/*.ant-tree li .ant-tree-node-content-wrapper {*/
/*padding: 0px 5px 0px 0px !important;*/
/*}*/

/*.ant-select-tree li {*/
/*margin: 0px !important;*/
/*}*/

/*.ant-table-tbody > tr.ant-table-row-selected td {*/
/*background: #FFFFFF !important;*/
/*}*/

.ant-select-disabled {
  color: rgba(0, 0, 0, 0.7) !important;
}

.ant-steps-small .ant-steps-item-title {
  padding-right: 10px !important;
}

/*------布局------*/
/*左上起*/
.layout-left-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

/* 左中起*/
.layout-left-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
}

/* 左下起*/
.layout-left-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-end;
}

/* 中上起*/
.layout-center-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
}

/* 居中*/
.layout-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

/* 分散在两边*/
.layout-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}
.layout-side-n {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
}

.layout-side-na {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
}

/* 中下起*/
.layout-center-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: center;
}

/* 右上起*/
.layout-right-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: flex-start;
}

/* 右中起*/
.layout-right-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: center;
}

/* 右下起*/
.layout-right-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: flex-end;
}

.ant-transfer-operation {
  margin: 3px !important;
}

.ant-transfer-operation button {
  width: 40px !important;
  height: 40px !important;
}

/*------尺寸------*/
.width-5-per {
  width: 5%;
}

.width-10-per {
  width: 10%;
}

.width-15-per {
  width: 15%;
}

.width-20-per {
  width: 20%;
}

.width-25-per {
  width: 25%;
}

.width-30-per {
  width: 30%;
}

.width-35-per {
  width: 35%;
}

.width-40-per {
  width: 40%;
}

.width-45-per {
  width: 45%;
}

.width-50-per {
  width: 50%;
}

.width-60-per {
  width: 60%;
}

.width-65-per {
  width: 65%;
}

.width-70-per {
  width: 70%;
}

.width-75-per {
  width: 75%;
}

.width-80-per {
  width: 80%;
}

.width-85-per {
  width: 85%;
}

.width-90-per {
  width: 90%;
}

.width-100-per {
  width: 100%;
}

.width-100-px {
  width: 100px;
}

.width-5-vw {
  width: 5vw;
}

.height-8-per {
  height: 8%;
}

.height-10-per {
  height: 10%;
}

.height-90-per {
  height: 90%;
}

.height-92-per {
  height: 92%;
}

.height-100-per {
  height: 100% !important;
}
.height-35-px {
  height: 35px;
}
.height-50-px {
  height: 50px;
}
.height-56-px {
  height: 56px;
}

/*------文字相关------*/
.text-size-p8em {
  font-size: .8em;
}

.text-size-1em {
  font-size: 1em;
}

.text-size-1p1em {
  font-size: 1.15em;
}

.text-size-1p2em {
  font-size: 1.2em;
}

.text-size-1p5em {
  font-size: 1.5em;
}

.text-size-24px {
  font-size: 24px;
}

.text-color-gray {
  color: rgba(51, 51, 51, 0.28);
}

.text-color-white {
  color: white !important;
}

.text-color-red {
  color: red;
}

.text-bold-normal {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

/*------边距等------*/
.margin-5-px {
  margin: 5px !important;
}

.margin-left-5-px {
  margin-left: 5px;
}

.margin-left-10-px {
  margin-left: 10px !important;
}

.margin-left-15-px {
  margin-left: 15px;
}

.margin-top-5-px {
  margin-top: 5px !important;
}

.margin-top-10-px {
  margin-top: 10px !important;
}

.margin-left-20-px {
  margin-left: 20px;
}

.margin-right-5-px {
  margin-right: 5px !important;
}

.margin-right-10-px {
  margin-right: 10px !important;
}

.margin-right-15-px {
  margin-right: 15px !important;
}

.margin-bottom-5-px {
  margin-bottom: 5px !important;
}

.margin-bottom-10-px {
  margin-bottom: 10px !important;
}

.padding-left-10-px {
  padding-left: 10px;
}

.padding-left-15-px {
  padding-left: 15px;
}

.padding-left-20-px {
  padding-left: 20px;
}

.padding-left-30-px {
  padding-left: 30px;
}

.padding-right-10-px {
  padding-right: 10px;
}

.padding-right-15-px {
  padding-right: 15px;
}

.padding-right-20-px {
  padding-right: 20px;
}

.padding-right-30-px {
  padding-right: 30px;
}

.padding-bottom-30-px {
  padding-bottom: 30px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.padding-top-0px {
  padding-top: 0 !important;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.padding-5-px {
  padding: 5px;
}

.padding-10-px {
  padding: 10px;
}

.padding-20-px {
  padding: 20px;
}

.padding-30-px {
  padding: 30px;
}

/*------鼠标指针形状------*/
.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.border-bottom-gray {
  border-bottom: 1px solid #E8E8E8;
}

.border-top-gray {
  border-top: 1px solid #E8E8E8;
}

.border-top-none {
  border-top: none;
}

.border-emphasize-normal {
  border: 2px solid transparent;
}

.border-emphasize-select {
  border: 2px dotted #DDD;
}

.scrollbar-black {
  /*margin-right: -15px;*/
  overflow: scroll;
}

.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scrollbar-black::-webkit-scrollbar {
  /*width: 4px;*/
  background-color: #F5F5F5;
  height: 0;
  width: 0;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000000;
}

/*------背景相关------*/
.bg-color-white {
  background-color: #FFFFFF;
}

.bg-color-dark {
  background-color: #181B2A;
}

.bg-color-green {
  background-color: green !important;
  border: 1px solid green !important;
}

.bg-color-blue {
  background-color: #1890FF !important;
}

.bg-color-red {
  background-color: red !important;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.color-green {
  color: green !important;
}

.color-blue {
  color: #1890FF !important;
}

.color-white {
  color: #666 !important;
}

.color-red {
  color: red !important;
}

.border {
  border: 1px solid #e8e8e8;
}

.border-top {
  border-top: 1px solid #e8e8e8;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.border-left {
  border-left: 1px solid #e8e8e8;
}

.border-right {
  border-right: 1px solid #e8e8e8;
}

.overflow-auto{
  overflow: auto;
}
.overflow-x-auto{
  overflow-x: auto;
}
.overflow-y-auto{
  overflow-y: auto;
}

/*.ant-message{*/
/*color: #10161D!important;*/
/*}*/
/*.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{*/
/*background: #181B2A!important;*/
/*}*/
/*.ant-table-placeholder{*/
/*background: #181B2A!important;*/
/*color: #FFFFFF!important;*/
/*}*/
.ant-table-header {
  overflow: hidden !important;
}

/*.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{*/
/*color: #181B2A!important;*/
/*}*/
.ant-btn.ant-btn-primary.christmas:before {
  display: none !important;
}

/*.ant-select-selection{*/
/*    background-color: rgba(40, 51, 62, 1)!important;*/
/*}*/
/*.ant-input-disabled{*/
/*color: #FFFFFF!important;*/
/*background-color: #181B2A!important;*/
/*}*/
.ant-input-disabled{
  color: black!important;
}
